/* TEMPORARY */
/* header{
    border: 2px solid purple;
    min-height: 100px;
} */

/* .container{
    border: 1px dashed black;
} */

/* section{
    border: 2px solid orange;
    min-height: 200px;
} */

/* section.jumbotron{
    border: 2px solid lightseagreen;
} */

/* .row{
    border: 2px solid red;
} */

/* [class^='col']{
    border: 2px solid green;
    min-height: 100px;
} */

/* footer{
    border: 2px solid darkslateblue;
    min-height: 150px;
} */

/* ******UTILITIES******** */
.bg-blue{
    background-color: #2c3e50;
}

.bg-tiffany{
    background-color: #1abc9c;
    color: white;
}

main{
    color: #2c3e50;
}

header{
    text-transform: uppercase;
    font-weight: bold;
}

nav a{
    color: white;
}

#avatar{
    max-width: 300px;
}

.my-line{
    border: 2px solid currentColor;
    border-radius: 30px;
}